#bannerSlider .slick-dots {
  bottom: 20px !important;
}

#bannerSlider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c99471;
}

#bannerSlider .slick-dots li button:before {
  content: "•";
  text-align: center;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  #bannerSlider .slick-dots {
    bottom: 15px !important;
  }

  #bannerSlider .slick-dots li button:before {
    font-size: 12px;
    width: 15px;
    height: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  #bannerSlider .slick-dots {
    bottom: 8px !important;
  }

  #bannerSlider .slick-dots li button:before {
    font-size: 10px;
    width: 10px;
    height: 10px;
  }
}

/* Small Mobile */
@media screen and (max-width: 480px) {
  #bannerSlider .slick-dots {
    bottom: 5px !important;
  }

  #bannerSlider .slick-dots li button:before {
    font-size: 8px;
    width: 8px;
    height: 8px;
  }
}